# CRIAÇÃO DA BANCO DE DADOS, TABELA E CONSULTAS

In [ ]:
#imprtando a biblioteca 
import sqlite3
print("Importação com sucesso!")

Importação com sucesso!

In [ ]:
#Criando o banco de dados
conn = sqlite3.connect("evento.db")
print("Conexão com sucesso!")

#Crianco a tabela de dados
conn.execute('''
CREATE TABLE IF NOT EXISTS evento(
  id INTEGER PRIMARY KEY,
  nome_evento VARCHAR(100),
  data_evento VARCHAR(15),
  localizacao VARCHAR(100),
  convidados INTEGER,
  custo REAL(7,2)
);
''')

conn.commit()
print("Tabela criado com sucesso!")

Conexão com sucesso!
Tabela criado com sucesso!

In [ ]:
#Criando uma variavel, recebendo comando SQL
comando = 'INSERT INTO evento VALUES (?,?,?,?,?,?)'


#Criando uma lista de dados
registros = [(1, 'DSA-Data Sciences Academy', '06-06-2023', 'São Paulo',  1000 , 7000.00),
             (2, 'AWS - Symposium', '15-05-2023', 'Brasília', 5000 , 20000.00),
             (3, 'Flamengo vs Vasco', '30-06-2023', 'Rio de Janeiro',  69000 , 120000.00),
             (4, 'Games enventos', '26-05-2023', 'Brasília', 2000000 , 50000.00),
             (5, 'Microsoft Academy', '20-06-2023', 'Brasília', 4000 , 15000.00),
             (6, 'Reunião com Ministerio da Fazenda', '22-06-2023', 'Brasília', 2000 , 10000.00), 
             (7, 'Reunião equipe software', '28-06-2023', 'São Paulo', 20 , 2000),
             (8, 'Reunião equipe de dados', '02-07-2023', 'Brasília', 28 , 4000),
             (9, 'Reunião vendas', '15-07-2023', 'Sâo Paulo', 10 , 1500),
             (10, 'Show Nando Rei', '03-08-2023', 'Brasília', 30000 , 100000.00),
             (11, 'Reunião reitoura da UDF', '22-010-2023', 'Brasília', 2 , 0),
             (12, 'Formatura-TI-UDF', '12-08-2023', 'Brasília', 500 , 10000.00),
             (13, 'Formatura-Saúde-UDF', '20-08-2023', 'Brasília', 1200, 42000.00),
             (14, 'Formatura-Direito-UDF', '22-08-2023', 'Brasília', 1000 , 38000.00),
             (15, 'Formatura-Administração-UDF', '23-08-2023', 'Brasília', 400 , 8000.00),
             (16, 'Festa-UDF', '30-08-2023', 'Brasília', 400 , 15000.00),
             (17, 'Formatura-TI-IESB', '03-09-2023', 'Brasília', 450 , 8000.00),
             (18, 'Expoabro', '18-09-2023', 'Brasília', 100000.00, 1000000.00),
             (19, 'Festa bancario', '10-10-2023', 'Brasília', 2000 , 1000000),
             (20, 'Reunião equipe toda', '19-10-2023', 'Brasília',  200, 4000.00)
             ]

#Criando un lop para percorrer a lista de dados e executar
for registro in registros:
    conn.execute(comando,registro)

#confirmação 
conn.commit()

print("Inserido dados na tabela com sucesso!")

Inserido dados na tabela com sucesso!

In [ ]:
#Forma de exibir a consulta da base de dados
cursor = conn.execute("SELECT * FROM evento;")
exibir = cursor.fetchall()
print(exibir)

[(1, 'DSA-Data Sciences Academy', '06-06-2023', 'São Paulo', 1000, 7000.0), (2, 'AWS - Symposium', '15-05-2023', 'Brasília', 5000, 20000.0), (3, 'Flamengo vs Vasco', '30-06-2023', 'Rio de Janeiro', 69000, 120000.0), (4, 'Games enventos', '26-05-2023', 'Brasília', 2000000, 50000.0), (5, 'Microsoft Academy', '20-06-2023', 'Brasília', 4000, 15000.0), (6, 'Reunião com Ministerio da Fazenda', '22-06-2023', 'Brasília', 2000, 10000.0), (7, 'Reunião equipe software', '28-06-2023', 'São Paulo', 20, 2000.0), (8, 'Reunião equipe de dados', '02-07-2023', 'Brasília', 28, 4000.0), (9, 'Reunião vendas', '15-07-2023', 'Sâo Paulo', 10, 1500.0), (10, 'Show Nando Rei', '03-08-2023', 'Brasília', 30000, 100000.0), (11, 'Reunião reitoura da UDF', '22-010-2023', 'Brasília', 2, 0.0), (12, 'Formatura-TI-UDF', '12-08-2023', 'Brasília', 500, 10000.0), (13, 'Formatura-Saúde-UDF', '20-08-2023', 'Brasília', 1200, 42000.0), (14, 'Formatura-Direito-UDF', '22-08-2023', 'Brasília', 1000, 38000.0), (15, 'Formatura-Administração-UDF', '23-08-2023', 'Brasília', 400, 8000.0), (16, 'Festa-UDF', '30-08-2023', 'Brasília', 400, 15000.0), (17, 'Formatura-TI-IESB', '03-09-2023', 'Brasília', 450, 8000.0), (18, 'Expoabro', '18-09-2023', 'Brasília', 100000, 1000000.0), (19, 'Festa bancario', '10-10-2023', 'Brasília', 2000, 1000000.0), (20, 'Reunião equipe toda', '19-10-2023', 'Brasília', 200, 4000.0)]

In [ ]:
#Tem essa forma de exibir a consulta com o nome da coluna e o valor 
for row in exibir:
    print('id: %d, nome_evento: %s, data_evento: %s, localizacao: %s, convidados: %d, custo: %d \n' %row)

id: 1, nome_evento: DSA-Data Sciences Academy, data_evento: 06-06-2023, localizacao: São Paulo, convidados: 1000, custo: 7000

id: 2, nome_evento: AWS - Symposium, data_evento: 15-05-2023, localizacao: Brasília, convidados: 5000, custo: 20000

id: 3, nome_evento: Flamengo vs Vasco, data_evento: 30-06-2023, localizacao: Rio de Janeiro, convidados: 69000, custo: 120000

id: 4, nome_evento: Games enventos, data_evento: 26-05-2023, localizacao: Brasília, convidados: 2000000, custo: 50000

id: 5, nome_evento: Microsoft Academy, data_evento: 20-06-2023, localizacao: Brasília, convidados: 4000, custo: 15000

id: 6, nome_evento: Reunião com Ministerio da Fazenda, data_evento: 22-06-2023, localizacao: Brasília, convidados: 2000, custo: 10000

id: 7, nome_evento: Reunião equipe software, data_evento: 28-06-2023, localizacao: São Paulo, convidados: 20, custo: 2000

id: 8, nome_evento: Reunião equipe de dados, data_evento: 02-07-2023, localizacao: Brasília, convidados: 28, custo: 4000

id: 9, nome_evento: Reunião vendas, data_evento: 15-07-2023, localizacao: Sâo Paulo, convidados: 10, custo: 1500

id: 10, nome_evento: Show Nando Rei, data_evento: 03-08-2023, localizacao: Brasília, convidados: 30000, custo: 100000

id: 11, nome_evento: Reunião reitoura da UDF, data_evento: 22-010-2023, localizacao: Brasília, convidados: 2, custo: 0

id: 12, nome_evento: Formatura-TI-UDF, data_evento: 12-08-2023, localizacao: Brasília, convidados: 500, custo: 10000

id: 13, nome_evento: Formatura-Saúde-UDF, data_evento: 20-08-2023, localizacao: Brasília, convidados: 1200, custo: 42000

id: 14, nome_evento: Formatura-Direito-UDF, data_evento: 22-08-2023, localizacao: Brasília, convidados: 1000, custo: 38000

id: 15, nome_evento: Formatura-Administração-UDF, data_evento: 23-08-2023, localizacao: Brasília, convidados: 400, custo: 8000

id: 16, nome_evento: Festa-UDF, data_evento: 30-08-2023, localizacao: Brasília, convidados: 400, custo: 15000

id: 17, nome_evento: Formatura-TI-IESB, data_evento: 03-09-2023, localizacao: Brasília, convidados: 450, custo: 8000

id: 18, nome_evento: Expoabro, data_evento: 18-09-2023, localizacao: Brasília, convidados: 100000, custo: 1000000

id: 19, nome_evento: Festa bancario, data_evento: 10-10-2023, localizacao: Brasília, convidados: 2000, custo: 1000000

id: 20, nome_evento: Reunião equipe toda, data_evento: 19-10-2023, localizacao: Brasília, convidados: 200, custo: 4000

In [ ]:
#Tem dessa forma também de exibir a consulta da base de dados
for row in exibir:
  print(row)

(1, 'DSA-Data Sciences Academy', '06-06-2023', 'São Paulo', 1000, 7000.0)
(2, 'AWS - Symposium', '15-05-2023', 'Brasília', 5000, 20000.0)
(3, 'Flamengo vs Vasco', '30-06-2023', 'Rio de Janeiro', 69000, 120000.0)
(4, 'Games enventos', '26-05-2023', 'Brasília', 2000000, 50000.0)
(5, 'Microsoft Academy', '20-06-2023', 'Brasília', 4000, 15000.0)
(6, 'Reunião com Ministerio da Fazenda', '22-06-2023', 'Brasília', 2000, 10000.0)
(7, 'Reunião equipe software', '28-06-2023', 'São Paulo', 20, 2000.0)
(8, 'Reunião equipe de dados', '02-07-2023', 'Brasília', 28, 4000.0)
(9, 'Reunião vendas', '15-07-2023', 'Sâo Paulo', 10, 1500.0)
(10, 'Show Nando Rei', '03-08-2023', 'Brasília', 30000, 100000.0)
(11, 'Reunião reitoura da UDF', '22-010-2023', 'Brasília', 2, 0.0)
(12, 'Formatura-TI-UDF', '12-08-2023', 'Brasília', 500, 10000.0)
(13, 'Formatura-Saúde-UDF', '20-08-2023', 'Brasília', 1200, 42000.0)
(14, 'Formatura-Direito-UDF', '22-08-2023', 'Brasília', 1000, 38000.0)
(15, 'Formatura-Administração-UDF', '23-08-2023', 'Brasília', 400, 8000.0)
(16, 'Festa-UDF', '30-08-2023', 'Brasília', 400, 15000.0)
(17, 'Formatura-TI-IESB', '03-09-2023', 'Brasília', 450, 8000.0)
(18, 'Expoabro', '18-09-2023', 'Brasília', 100000, 1000000.0)
(19, 'Festa bancario', '10-10-2023', 'Brasília', 2000, 1000000.0)
(20, 'Reunião equipe toda', '19-10-2023', 'Brasília', 200, 4000.0)

In [ ]:
# Pode Criar uma função 
def leitura_localizacao():
    cursor.execute("SELECT * FROM evento WHERE localizacao = 'Brasília'")
    for row_localizacao in cursor.fetchall():
        print(row_localizacao)
leitura_localizacao()

(2, 'AWS - Symposium', '15-05-2023', 'Brasília', 5000, 20000.0)
(4, 'Games enventos', '26-05-2023', 'Brasília', 2000000, 50000.0)
(5, 'Microsoft Academy', '20-06-2023', 'Brasília', 4000, 15000.0)
(6, 'Reunião com Ministerio da Fazenda', '22-06-2023', 'Brasília', 2000, 10000.0)
(8, 'Reunião equipe de dados', '02-07-2023', 'Brasília', 28, 4000.0)
(10, 'Show Nando Rei', '03-08-2023', 'Brasília', 30000, 100000.0)
(11, 'Reunião reitoura da UDF', '22-010-2023', 'Brasília', 2, 0.0)
(12, 'Formatura-TI-UDF', '12-08-2023', 'Brasília', 500, 10000.0)
(13, 'Formatura-Saúde-UDF', '20-08-2023', 'Brasília', 1200, 42000.0)
(14, 'Formatura-Direito-UDF', '22-08-2023', 'Brasília', 1000, 38000.0)
(15, 'Formatura-Administração-UDF', '23-08-2023', 'Brasília', 400, 8000.0)
(16, 'Festa-UDF', '30-08-2023', 'Brasília', 400, 15000.0)
(17, 'Formatura-TI-IESB', '03-09-2023', 'Brasília', 450, 8000.0)
(18, 'Expoabro', '18-09-2023', 'Brasília', 100000, 1000000.0)
(19, 'Festa bancario', '10-10-2023', 'Brasília', 2000, 1000000.0)
(20, 'Reunião equipe toda', '19-10-2023', 'Brasília', 200, 4000.0)

In [ ]:
#Fechar a conexão com o banco
conn.close()
print("Conexão fechado com suesso!")

Conexão fechado com suesso!

# *DEPLOYAR *

In [ ]:
#importação do modulo
import pandas as pd
print("Importação com sucesso!")

Importação com sucesso!

In [ ]:
#abrindo a conexação:
conn = sqlite3.connect("evento.db")
print("conexão com sucesso!")

#jogando a comando sql para uma variavel
base = '''
SELECT * FROM evento
'''

#lendo uma query e jogando para uma variavel para criar uma datafarme
df = pd.read_sql_query(base, conn)
print("criação do datafarme com sucesso!")

#Fechar a conexão com o banco
conn.close()
print("Conexão fechado com suesso!")

conexão com sucesso!
criação do datafarme com sucesso!
Conexão fechado com suesso!

In [ ]:
#visualizar o tipe da variavel
type(df)

pandas.core.frame.DataFrame

In [ ]:
#exibindo o datafarme
display(df)

,id,nome_evento,data_evento,localizacao,convidados,custo
0,1,DSA-Data Sciences Academy,06-06-2023,São Paulo,1000,7000.0
1,2,AWS - Symposium,15-05-2023,Brasília,5000,20000.0
2,3,Flamengo vs Vasco,30-06-2023,Rio de Janeiro,69000,120000.0
3,4,Games enventos,26-05-2023,Brasília,2000000,50000.0
4,5,Microsoft Academy,20-06-2023,Brasília,4000,15000.0
5,6,Reunião com Ministerio da Fazenda,22-06-2023,Brasília,2000,10000.0
6,7,Reunião equipe software,28-06-2023,São Paulo,20,2000.0
7,8,Reunião equipe de dados,02-07-2023,Brasília,28,4000.0
8,9,Reunião vendas,15-07-2023,Sâo Paulo,10,1500.0
9,10,Show Nando Rei,03-08-2023,Brasília,30000,100000.0
10,11,Reunião reitoura da UDF,22-010-2023,Brasília,2,0.0
11,12,Formatura-TI-UDF,12-08-2023,Brasília,500,10000.0
12,13,Formatura-Saúde-UDF,20-08-2023,Brasília,1200,42000.0
13,14,Formatura-Direito-UDF,22-08-2023,Brasília,1000,38000.0
14,15,Formatura-Administração-UDF,23-08-2023,Brasília,400,8000.0
15,16,Festa-UDF,30-08-2023,Brasília,400,15000.0
16,17,Formatura-TI-IESB,03-09-2023,Brasília,450,8000.0
17,18,Expoabro,18-09-2023,Brasília,100000,1000000.0
18,19,Festa bancario,10-10-2023,Brasília,2000,1000000.0
19,20,Reunião equipe toda,19-10-2023,Brasília,200,4000.0

In [ ]:
#imprimindo a quantidade do datafarme 
col = len(df.columns)
row = len(df.index) 
print("Tamanho do datafarme\n" )
print(f"Coluna: {col}\nlinhas: {row}")

Tamanho do datafarme

Coluna: 6
linhas: 20

In [ ]:
#Acessando apenas uma linha do datafarme
#usando o metedo loc, ele puxa como fosse arry
printdf.loc[0]

id                                     1
nome_evento    DSA-Data Sciences Academy
data_evento                   06-06-2023
localizacao                    São Paulo
convidados                          1000
custo                             7000.0
Name: 0, dtype: object

In [ ]:
df.loc[0:4]

,id,nome_evento,data_evento,localizacao,convidados,custo
0,1,DSA-Data Sciences Academy,06-06-2023,São Paulo,1000,7000.0
1,2,AWS - Symposium,15-05-2023,Brasília,5000,20000.0
2,3,Flamengo vs Vasco,30-06-2023,Rio de Janeiro,69000,120000.0
3,4,Games enventos,26-05-2023,Brasília,2000000,50000.0
4,5,Microsoft Academy,20-06-2023,Brasília,4000,15000.0

In [ ]:
#Acessando apenas uma linha do datafarme
#posso passar quantos parametro exibir 
df.loc[0:3]

,id,nome_evento,data_evento,localizacao,convidados,custo
0,1,DSA-Data Sciences Academy,06-06-2023,São Paulo,1000,7000.0
1,2,AWS - Symposium,15-05-2023,Brasília,5000,20000.0
2,3,Flamengo vs Vasco,30-06-2023,Rio de Janeiro,69000,120000.0
3,4,Games enventos,26-05-2023,Brasília,2000000,50000.0

In [ ]:
#fazendo um where com pandas no datafarme 
teste = df.loc[df['localizacao'] == 'São Paulo']
print(teste)

   id                nome_evento data_evento localizacao  convidados   custo
0   1  DSA-Data Sciences Academy  06-06-2023   São Paulo        1000  7000.0
6   7    Reunião equipe software  28-06-2023   São Paulo          20  2000.0

In [ ]:
 #Verificar se o datafarme está vazio
 df.empty

False

In [ ]:
#condição para verificar se o datafarme está vazio
if df.empty == False:
  print("O datafarme não está vazio")
else:
  print("O datafarme está vazio")

O datafarme não está vazio

In [ ]:
#exibindo as 5 primeiras linhas
df.head(5)

,id,nome_evento,data_evento,localizacao,convidados,custo
0,1,DSA-Data Sciences Academy,06-06-2023,São Paulo,1000,7000.0
1,2,AWS - Symposium,15-05-2023,Brasília,5000,20000.0
2,3,Flamengo vs Vasco,30-06-2023,Rio de Janeiro,69000,120000.0
3,4,Games enventos,26-05-2023,Brasília,2000000,50000.0
4,5,Microsoft Academy,20-06-2023,Brasília,4000,15000.0

In [ ]:
#Excluindo uma linha do datafarme, e o uso do inplace alterar a modificação
df.drop(2, inplace=True)
print("Ecluiu a linha com sucesso!")
df.head()

Ecluiu a linha com sucesso!

,id,nome_evento,data_evento,localizacao,convidados,custo
0,1,DSA-Data Sciences Academy,06-06-2023,São Paulo,1000,7000.0
1,2,AWS - Symposium,15-05-2023,Brasília,5000,20000.0
3,4,Games enventos,26-05-2023,Brasília,2000000,50000.0
4,5,Microsoft Academy,20-06-2023,Brasília,4000,15000.0
5,6,Reunião com Ministerio da Fazenda,22-06-2023,Brasília,2000,10000.0

In [ ]:
#imprimindo a quantidade do datafarme depois que excluir uma linha 
col = len(df.columns)
row = len(df.index) 
print("Tamanho do datafarme\n" )
print(f"Coluna: {col}\nlinhas: {row}")

Tamanho do datafarme

Coluna: 6
linhas: 19

In [ ]:
df.loc[20] = [21, 'Games enventos', '26-05-2023', 'Brasília', 2000000 , 50000.00]
print("Inseriu com sucesso!")

Inseriu com sucesso!

In [ ]:
#Aleterando a ordem das colunas
df = df[['id',	'nome_evento',	'convidados', 'localizacao', 'data_evento',	'custo']]
print("Alterado a ordem com sucesso!")

Alterado a ordem com sucesso!

In [ ]:
#exibindo o datafarme
display(df)

,id,nome_evento,convidados,localizacao,data_evento,custo
0,1,DSA-Data Sciences Academy,1000,São Paulo,06-06-2023,7000.0
1,2,AWS - Symposium,5000,Brasília,15-05-2023,20000.0
3,4,Games enventos,2000000,Brasília,26-05-2023,50000.0
4,5,Microsoft Academy,4000,Brasília,20-06-2023,15000.0
5,6,Reunião com Ministerio da Fazenda,2000,Brasília,22-06-2023,10000.0
6,7,Reunião equipe software,20,São Paulo,28-06-2023,2000.0
7,8,Reunião equipe de dados,28,Brasília,02-07-2023,4000.0
8,9,Reunião vendas,10,Sâo Paulo,15-07-2023,1500.0
9,10,Show Nando Rei,30000,Brasília,03-08-2023,100000.0
10,11,Reunião reitoura da UDF,2,Brasília,22-010-2023,0.0
11,12,Formatura-TI-UDF,500,Brasília,12-08-2023,10000.0
12,13,Formatura-Saúde-UDF,1200,Brasília,20-08-2023,42000.0
13,14,Formatura-Direito-UDF,1000,Brasília,22-08-2023,38000.0
14,15,Formatura-Administração-UDF,400,Brasília,23-08-2023,8000.0
15,16,Festa-UDF,400,Brasília,30-08-2023,15000.0
16,17,Formatura-TI-IESB,450,Brasília,03-09-2023,8000.0
17,18,Expoabro,100000,Brasília,18-09-2023,1000000.0
18,19,Festa bancario,2000,Brasília,10-10-2023,1000000.0
19,20,Reunião equipe toda,200,Brasília,19-10-2023,4000.0
20,21,Games enventos,2000000,Brasília,26-05-2023,50000.0

In [ ]:
#imprimindo a quantidade do datafarme depois que incluir uma nova linha
col = len(df.columns)
row = len(df.index) 
print("Tamanho do datafarme\n" )
print(f"Coluna: {col}\nlinhas: {row}")

Tamanho do datafarme

Coluna: 6
linhas: 20

In [ ]:
#selecionando apenas a coluna 
# : é para vim todas as linhas da coluna
df.loc[ : ,['nome_evento','localizacao']]

                          nome_evento localizacao
0           DSA-Data Sciences Academy   São Paulo
1                     AWS - Symposium    Brasília
3                      Games enventos    Brasília
4                   Microsoft Academy    Brasília
5   Reunião com Ministerio da Fazenda    Brasília
6             Reunião equipe software   São Paulo
7             Reunião equipe de dados    Brasília
8                      Reunião vendas   Sâo Paulo
9                      Show Nando Rei    Brasília
10            Reunião reitoura da UDF    Brasília
11                   Formatura-TI-UDF    Brasília
12                Formatura-Saúde-UDF    Brasília
13              Formatura-Direito-UDF    Brasília
14        Formatura-Administração-UDF    Brasília
15                          Festa-UDF    Brasília
16                  Formatura-TI-IESB    Brasília
17                           Expoabro    Brasília
18                     Festa bancario    Brasília
19                Reunião equipe toda    Brasília
20                     Games enventos    Brasília

In [ ]:
df.to_csv("evento.csv")
print("Exportação com sucesso!")

Exportação com sucesso!

In [ ]:
df.sample(20, random_state = 0).T

,19,1,20,9,11,18,7,14,5,3,6,15,10,8,17,12,4,0,16,13
id,20,2,21,10,12,19,8,15,6,4,7,16,11,9,18,13,5,1,17,14
nome_evento,Reunião equipe toda,AWS - Symposium,Games enventos,Show Nando Rei,Formatura-TI-UDF,Festa bancario,Reunião equipe de dados,Formatura-Administração-UDF,Reunião com Ministerio da Fazenda,Games enventos,Reunião equipe software,Festa-UDF,Reunião reitoura da UDF,Reunião vendas,Expoabro,Formatura-Saúde-UDF,Microsoft Academy,DSA-Data Sciences Academy,Formatura-TI-IESB,Formatura-Direito-UDF
convidados,200,5000,2000000,30000,500,2000,28,400,2000,2000000,20,400,2,10,100000,1200,4000,1000,450,1000
localizacao,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,São Paulo,Brasília,Brasília,Sâo Paulo,Brasília,Brasília,Brasília,São Paulo,Brasília,Brasília
data_evento,19-10-2023,15-05-2023,26-05-2023,03-08-2023,12-08-2023,10-10-2023,02-07-2023,23-08-2023,22-06-2023,26-05-2023,28-06-2023,30-08-2023,22-010-2023,15-07-2023,18-09-2023,20-08-2023,20-06-2023,06-06-2023,03-09-2023,22-08-2023
custo,4000.0,20000.0,50000.0,100000.0,10000.0,1000000.0,4000.0,8000.0,10000.0,50000.0,2000.0,15000.0,0.0,1500.0,1000000.0,42000.0,15000.0,7000.0,8000.0,38000.0

In [ ]:
df.transpose()

,0,1,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20
id,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21
nome_evento,DSA-Data Sciences Academy,AWS - Symposium,Games enventos,Microsoft Academy,Reunião com Ministerio da Fazenda,Reunião equipe software,Reunião equipe de dados,Reunião vendas,Show Nando Rei,Reunião reitoura da UDF,Formatura-TI-UDF,Formatura-Saúde-UDF,Formatura-Direito-UDF,Formatura-Administração-UDF,Festa-UDF,Formatura-TI-IESB,Expoabro,Festa bancario,Reunião equipe toda,Games enventos
convidados,1000,5000,2000000,4000,2000,20,28,10,30000,2,500,1200,1000,400,400,450,100000,2000,200,2000000
localizacao,São Paulo,Brasília,Brasília,Brasília,Brasília,São Paulo,Brasília,Sâo Paulo,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília,Brasília
data_evento,06-06-2023,15-05-2023,26-05-2023,20-06-2023,22-06-2023,28-06-2023,02-07-2023,15-07-2023,03-08-2023,22-010-2023,12-08-2023,20-08-2023,22-08-2023,23-08-2023,30-08-2023,03-09-2023,18-09-2023,10-10-2023,19-10-2023,26-05-2023
custo,7000.0,20000.0,50000.0,15000.0,10000.0,2000.0,4000.0,1500.0,100000.0,0.0,10000.0,42000.0,38000.0,8000.0,15000.0,8000.0,1000000.0,1000000.0,4000.0,50000.0

In [ ]:
help(df.transpose())